

<% if (typeof errors !== 'undefined') { %>
      <div class="error__block">
        <% errors.forEach(function(error) { %>
          <div class="error"><%= error.msg %></div>
        <% }) %>
      </div>
    <% } %>
