<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Gina's Instagram Clone</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link rel="stylesheet" href="bootstrap.css">
        <link rel="stylesheet" href="example.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
    <meta charset="utf-8">
    <title>Login_App</title>
</head>
<div class="container">
    <div class="header clearfix">
      <nav>
        <!-- NAV BAR  -->
        <ul class="nav nav-pills float-right">
          <li class="nav-item">
            <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a> <!-- might need to fix routing -->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Sign In</a> <!--  need to fix routing -->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Sign Out</a> <!--  need to fix routing -->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/homeStream">Image Gallery</a> <!--  need to fix routing -->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Upload Image</a> <!--  need to fix routing -->
          </li>
        </ul>
      </nav>
    </div>
      </head>
    <body>

    <section class="body-container">
    <div class="card">
        <div class="card-header">
    </div>
        <div class="profile-info">
        <div class="profile-name">PLACEHOLDER FOR USERNAME</div>
    </div>

    <div class="content">  
    <div><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/jeremiah-wilson-1.jpg" alt></div>
    </div>

    <div class="card-footer"><div class="description">
    <div class="profile-name">  
        <%- PLACEHOLDER FOR USERNAME %>
    </div>
    <p><span class="username">Description</span> <%- PLACE HOLDER FOR DESCRIPTIONS %></p>
        
  <div class="comments">
    <p><span class="username">Comments:</span> <%- PLACE HOLDER FOR COMMENTS %></p>
    <p> <span class="username">HashTag:</span> <%- PLACE HOLDER FOR HASHTAG %></p>
  </div>
  
   <div class="form">
  
  <div class="inputWithIcon">
  <input type="text" placeholder="add a comment..limit 150 characters"/>
  </div>
    
  <div class="inputWithIcon">
  <input type="text" placeholder="hash it...."/>
  </div>

  <div class="user-description">
  <input type="text" placeholder="placeholder for description"/>   
  </div>

  <div class="btn-post">
  <form id="btn-post-comments">
   <button id="btn-post-comment">POST</button>
   </form>
  

</body>
</html>