

<html>
<head>
  <link rel="stylesheets" href="public/css/index.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
    <meta charset="utf-8">
    <title>Login_App
    </title>
</head>

<body>
  <div class="container">
      <div class="header clearfix">
        <nav>
          <!-- NAV BAR  -->
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a> <!-- might need to fix routing -->
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Sign In</a> <!--  need to fix routing -->
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Sign Out</a> <!--  need to fix routing -->
            </li>
           <li class="nav-item">
              <a class="nav-link" href="/homeStream">Home Stream</a>
                    <!--  need to fix routing -->
              </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Upload Image</a>
                    <!--  need to fix routing -->
            </li>
         
         
         
         
         
          </ul>
        </nav>
      </div>

      <div class="jumbotron">
        <h1 class="display-3">Welcome to Go BobCatz Stream App</h1> <!--hahahahahaha -->
        <p class="lead">Sign up for one of the most popular streaming apps!</p>
      </div>


      <h2 class="page-header">Sign up</h2>
      <form method="post" action="/" >
        <div class="form-group">
          <label>Username</label>
          <input type="text" class="form-control" placeholder="Username/Email" name="username">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" placeholder="Password" name="password">
        </div>
        <div class="form-group">
          <label>Confirm Password</label>
          <input type="password" class="form-control" placeholder="Password" name="secondPassword">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>

      <footer class="footer">
        <p>&copy; Go BobCats 2017</p>
      </footer>

    </div> <!-- /container -->

</body>

</html>
