<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100&effect=neon">
    <script src="https://use.fontawesome.com/144ed3a5c7.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lobster|Megrim|Playfair+Display|Exo" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login_App
    </title>
    <script src="anime.min.js"></script>
</head>

<body>
    <div class="testContainer">
        <div class="container">
            <div class="header clearfix">
                <nav>
                    <!-- NAV BAR  -->
                    <ul class="nav nav-pills float-right">
                        <li class="nav-item">
                            <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                            <!-- might need to fix routing -->
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/">Sign Out</a>
                            <!--  need to fix routing -->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/">Blog Posts</a>
                            <!--  need to fix routing -->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Upload Image</a>
                            <!--  need to fix routing -->
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div id="login_container">
            <h2 class="page-header">Log In</h2>
            <form method="POST" action="/login">
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" placeholder="Username" name="username">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" placeholder="Password" name="password">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
        <script>
            var login_container = document.getElementById('login_container');
            var navBar = document.getElementById('testContainer');
            anime({
                targets: login_container,
                color: '#000000',
                easing: 'easeInOutQuad',
                delay: function(menu, i, l) {
                    return 2000 + (i * 3000);
                }
            });

            anime({
                targets: navBar,
                color: '#ffffff',
                easing: 'easeInOutQuad',
                delay: function(menu, i, l) {
                    return 2000 + (i * 3000);
                }
            });
        </script>
</body>
