<!-- NAV BAR  -->
<html>
<head>
  <link rel="stylesheets" href="public/css/index.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
    <meta charset="utf-8">
    <title>Login_App
    </title>
</head>
<ul class="nav nav-pills float-right">
  <li class="nav-item">
    <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a> <!-- might need to fix routing -->
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/">Sign Out</a> <!--  need to fix routing -->
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/">Home Stream</a> <!--  need to fix routing -->
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Upload Image</a> <!--  need to fix routing -->
  </li>
</ul>
</nav>
</div>
<div class="jumbotron">
  <h1 class="display-3">You have been logged out. Please come again :)</h1>
</div>
