``<link rel="stylesheets" href="public/css/login.css">
<link rel="stylesheet" href="/css/bootstrap.css">
<div class="container">
    <div class="header clearfix">
      <nav>
        <!-- NAV BAR  -->
        <ul class="nav nav-pills float-right">
          <li class="nav-item">
            <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a> <!-- might need to fix routing -->
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/">Sign Out</a> <!--  need to fix routing -->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Home Stream</a> <!--  need to fix routing -->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Upload Image</a> <!--  need to fix routing -->
          </li>
        </ul>
      </nav>
    </div>

<h2 class="page-header">Upload Image</h2>
<form method="POST" action="/login">
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" placeholder="Username" name="username">
  </div>
  <div class="form-group">
    <label>HashTag</label>
    <input type="text" class="form-control" placeholder="Hashtag" name="hashtag">
  </div>
  <div class="form-group">
    <label>Description</label>
    <input type="text" class="form-control" placeholder="Describe it mate" name="description">
  </div>
  <div class="form-group">
    <label>Image</label>
    <input type="file" class="form-control" name="image">
  </div>
</form>
<button type="submit" class="btn btn-default">Submit</button>

<footer class="footer">
  <p>&copy; Go BobCats 2017</p>
</footer>
