<% include globals/head %>

      <a href="/">Home</a>
      <a href="/userEdit">Edit</a>
      <a href="/userLogin">User Login</a>
      <a href="/userPage">User Home Page</a>

   <h1>TEST USERPAGE ROUTING</h1>

    
<% include globals/foot %>