.jumbotron .container{
 color: black;
 font-family: 'Megrim', cursive;
 font-size: 100px;
 text-align: center;
 border-radius: -50px;
 font-weight: -100;
  }
img{
  max-width: 400px;
  max-height: 400px;
}
