/* Space out content a bit */


h1{
border-style: solid;
}

/*==========GRABBED FROM BOOTSTRAP NARROW JUMBOTRON EXAMPLE==============*/
body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: #000000;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 100%;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
background-color: black !important;
}
.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}

/* Supporting marketing content */
.marketing {
  margin: 3rem 0;
}
.marketing p + h4 {
  margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
      background-color: black;
  }

.jumbotron .container{
 color: black;
 font-family: 'Megrim', cursive;
 font-size: 100px;
 background-color: black;
 text-align: center;
 border-radius: -50px;
 font-weight: -100;
  }

#Menu{
color: black;
font-family: 'Megrim', cursive;
font-size: 40px;
margin: 0 auto;
border-radius: 25px;
border-color: white;
width: 100px;
}

.testContainer .nav-item a{
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  color: white !important;
  font-family: 'Exo', sans-serif;
}
.testContainer .nav-item a:hover{
  color: purple;
  background-color: black;
}
